<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag("Antiques-6941.jpg") %>
  <h1>Welcome to Steph's Knickknacks</h1>
  <h3>Your online source for unique antiques!</h3>
<%= yield %>

</body>
</html>
